@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #6366F1;
  --color-secondary: #8B5CF6;
  --bg-color: #F3F4F6;
  --color-text: #1F2937;
  --color-text-muted: #6B7280;
}

body{
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: radial-gradient(circle at top right, rgba(139, 92, 246, 0.08), transparent 500px),
                    radial-gradient(circle at bottom left, rgba(99, 102, 241, 0.08), transparent 500px);
  color: var(--color-text);
}
a{
  text-decoration: none;
  color: inherit; 
}
.app{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }  
}